html(lang='en')
  head
    include ./essential/styles.jade
  body(ng-app='app', ng-controller="AppCtrl", md-theme="defaultTheme", layout="column")

    md-toolbar
      .md-toolbar-tools
        h2
          span Aedes Hunter
        span(flex='')
        md-button.md-icon-button(aria-label='Informações', ng-click="showAdvanced()")
          md-icon(md-svg-icon='images/information.svg')


    md-content
      #map
    
    include ./fragments/filter.jade
    include ./fragments/gps.jade
    include ./fragments/types.jade

    include ./essential/scripts.jade

    
      
