html(lang='en')
  head
    include ./essential/styles.jade
  body(ng-app='app', ng-controller="AppCtrl", md-theme="{{theme}}", layout="column")

    include ./fragments/top.jade


    md-content
      #map
    
    include ./fragments/filter.jade
    include ./fragments/gps.jade
    include ./fragments/types.jade

    include ./essential/scripts.jade

    
      
