md-toolbar.md-hue-1

  .md-toolbar-tools
  
    md-button.md-icon-button
      md-icon(md-svg-src='images/mosquito.svg')

    h2
      span Aedes Hunter |

    md-input-container(md-theme='input', flex='')
      label  
      input(ng-model='search.who', placeholder='enter search')


    md-input-container.md-block.md-mini(md-no-float='')
      md-icon(md-svg-src='images/mosquito.svg', style='display:inline-block;')
      input(id='geocoder', ng-model='user.address', type='text', placeholder='Address')
      

    span(flex='')
    md-button.md-icon-button(aria-label='Informações', ng-click="about()")
      md-tooltip(md-direction='bottom', md-visible='false') Sobre
      md-icon(md-svg-icon='images/information.svg')
