md-toolbar.md-hue-1

  .md-toolbar-tools
  
    md-button.md-icon-button
      md-icon(md-svg-src='images/mosquito.svg')

    h2
      span Aedes Hunter |

    md-input-container.md-margin(md-no-float='')
      input(id='geocoder', placeholder='Digite o endereço...')
      

    span(flex='')
    md-button.md-icon-button(aria-label='Informações', ng-click="about()")
      md-tooltip(md-direction='bottom', md-visible='false') Sobre
      md-icon(md-svg-icon='images/information.svg')
