div(id='types', ng-controller='TypeCtrl as ctrl', ng-cloak='', md-theme="defaultTheme")
  md-fab-speed-dial(md-open='ctrl.isOpen', md-direction='{{ctrl.selectedDirection}}', ng-class='ctrl.selectedMode', ng-mouseenter="ctrl.isOpen=true" ng-mouseleave="ctrl.isOpen=false")
    md-fab-trigger
      md-button.md-fab.md-primary(aria-label='menu')
        md-tooltip(md-direction='left', md-visible='tooltipVisible') Tipos
        md-icon(md-svg-src='images/mosquito.svg')
    md-fab-actions
      md-button.md-fab.md-raised.md-mini.md-accent(aria-label='Chikungunya', md-theme="focusTheme")
        md-tooltip(md-direction='left', md-visible='tooltipVisible', md-autohide='false') Focos do mosquito
        md-icon(md-svg-src='images/mosquito.svg', aria-label='Focos do mosquito')
      md-button.md-fab.md-raised.md-mini.md-accent(aria-label='Casos constatados' , md-theme="casesTheme")
        md-tooltip(md-direction='left', md-visible='tooltipVisible') Casos constatados
        md-icon(md-svg-src='images/mosquito.svg', aria-label='Casos constatados')
