html, body, #map{
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }


  .md-custom-color-1{ background-color: #f00 !important;}
  .md-custom-color-2{ background-color: #0f0 !important;}
  .md-custom-color-3{ background-color: #00f !important;}
  .md-custom-color-4{ background-color: #ff0 !important;}