html, body, #map{
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

#config,
#types,
#gps{
  display: block;
	position: absolute;
  z-index: 1000;
}

#config{
  bottom: 20px;
	left: 0px;
}

#types{
	bottom: 90px;
	right: 0px;
}

#gps{
	bottom: 20px;
	right: 0px;
}
