html, body, #map{
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

#map{
  z-index: 0;
}

#filter,
#types,
#gps{
  display: block;
	position: absolute;
}

#filter{
  bottom: 20px;
	left: 0px;
}

#types{
	bottom: 20px;
	right: 0px;
}

#gps{
	bottom: 90px;
	left: 0px;
}
